html {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif !important;
}
.jumbotron {
	position: relative;
	height: 400px;
	overflow: hidden;
	background: none;
}
.jumbotron > div {
	height: 400px;
}
#jumboman {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../images/Avanade_PatternLandscapeNoLogoRGB_Luminous.png");
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.btn-avanade {
	background-color: #FF5800;
	color: white;
}

.btn-avanade:hover {
	background-color: #DC4600;
	color: white;
}

.hexagon {
    background-image: url(../images/hexagon.svg);
    height: 50px;
    width: 50px;
    background-size:contain;
}

.hexagon img {
    width: auto;
    height: 75%;
}

.hexagon p {
    display: none;
}

.hexagon:hover {
    height: 75px;
    width: 75px;
}

.hexagon:hover p {
    display: block;
}