body {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif!important;
    overflow:hidden;
    width: 100vw;
    height: 100vh;
}

#jumboman {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../images/Avanade_PatternLandscapeNoLogoRGB_Luminous.png");
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#ingredients {
    background-color: #E5E5E5;
    height: 420px;
    width: 600px;
}

.container {
    color: white;
}

.btn-avanade {
	background-color: #FF5800;
	color: white;
}

.btn-avanade:hover {
	background-color: #DC4600;
	color: white;
}

.hexagon, #mep{
    left: 20px;
    top: 10px;
    transition: .3s linear all;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    background-image: url(../images/hexagon.svg);
    background-position: center;
    height: 150px;
    width: 135px;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.hexagon img {
    width: auto;
    height: 50%;
}

.hexagon p {
    transition: inherit;
    font-size: 0px;
    user-select: none;
}

.hexagon:hover {
    transform: scale(1.5);
    z-index: 500;
}

.hexagon:hover p {
    font-size: 12px;
}

#infographic {
    width: 600px;
    height: 420px;
    position: relative;
}

.hexrow2 {
    left: 92px;
    top: 134px;
}

.hexrow3 {
    top: 258px!important;
}

.hexcol2.hexrow2 {
    left: 236px;
}

.hexcol2 {
    left: 164px;
}

.hexcol3.hexrow2 {
    left: 380px;
}

.hexcol3 {
    left: 308px;
}

.hexcol4 {
    left: 452px;
}

.doublehex {
    position: absolute;
    background-image: url(../images/double-hex.svg);
    background-position:center;
    height: 276px;
    width: 208px;
    background-repeat: no-repeat;
    background-size: contain;
}


#mep {
    font-size: 20px;
    background-image: url(../images/hexagon-orange.svg);
    color: #FF5800;
}