#navbar, #footer {
	background-color: #FF5800;
	color: white;
}

#footer p {
	margin: 10px 0;
}

#ava-logo {
	height: 1.5em;
	vertical-align: middle;
}

h1, h2 {
	color: #FF5800;
}

.image-small {
	width: 150px;
	object-fit: cover;
	height: 150px;
	object-position: center;
}

.image-small-inset {
	height: 200px;
	position: relative;
}

.image-large-inset {
	height: 400px;
	position: relative;
}

.image-small-inset p, .image-large-inset div {
	width: 100%;
	padding: 10px 10px;
	vertical-align: bottom;
	position:absolute;
	bottom: 0px;
	left: 0px;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
}

.image-small-inset img, .image-large-inset img {
	display: inline-block;
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: center;
}

#mep-logo {
	background-image: url("../images/amep.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
}
.jumbotron {
	position: relative;
	height: 400px;
	overflow: hidden;
	background: none;
}
.jumbotron > div {
	height: 400px;
}
#jumboman {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../images/Avanade_PatternLandscapeNoLogoRGB_Luminous.png");
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.btn-avanade {
	background-color: #FF5800;
	color: white;
}

.btn-avanade:hover {
	background-color: #DC4600;
	color: white;
}
